@import "fonts";
@import "authentication";

:root {
  --font-family: "Open Sans", sans-serif;
  --second-family: "Days One", sans-serif;

//  Светлая тема
  --bg-color: #fafafa;
  --text-color: #333;
  --primary-color: #FF5102;
  --primary-color-hover: #d54203;
  --secondary-color: #6c757d;
}

[data-theme="dark"] {
//  Тёмная тема
  --bg-color: #393b38;
  --primary-color: #FF5102;
  --primary-color-hover: #d54203;
  --text-color: #fff;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Open Sans", sans-serif;
  background-color: var(--bg-color);
  color: var(--text-color);
  transition: background-color .3s, color .3s;
  min-height: 100vh;
  display: flex;
  overflow-x: hidden;
}

main {
  flex: 1 0 auto;
}

.container-sm {
  max-width: 400px;
  width: 100%;
  padding: 0 16px;
}

.btn {
  font-family: "Open Sans", sans-serif;
}
.btn.btn-primary {
  background-color: var(--primary-color);
  color: var(--text-color);
  border: none;
  transition: background-color .3s, color .3s;

  &:hover {
    background-color: var(--primary-color-hover);
  }

  &:active {
    background-color: var(--primary-color);
  }
}

a {
  color: var(--text-color);
  text-decoration: none;
  text-underline-offset: 3px;
  transition: color .3s;

  &:hover {
    color: var(--primary-color);
    text-decoration: underline;
  }
}

@media (min-width: 576px) {
  .container-sm {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container-sm {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container-sm {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container-sm {
    max-width: 1140px;
  }
}

@media (min-width: 1400px) {
  .container-sm {
    max-width: 1320px;
  }
}
